.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-text {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
    width: 264px;   
}


.footer .logo {
    display: block;
font-weight: bold;
line-height: 1.33;
letter-spacing: 0.03em;
color: #F4F4FD;
margin-bottom: 16px;
}

.footer .social-links {
    display: flex;
    gap: 16px;
}

.footer .container {
    display: flex;
}

.footer .social-media-box {
    margin-left: 120px;
}

.footer .social-media-box h3 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer .social-media-box .social-links .icon {
    fill: #F4F4FD;
}

.footer .social-media-box .social-links a {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-media-box .social-links a:hover,
.footer .social-media-box .social-links a:focus {
    background-color: #31D0AA;
}

.footer .subscribe-box {
    margin-left: 83px;
}

.footer .subscribe-box h3 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer .subscribe-box .input {
    color: #fff;
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: #2E2F42;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .subscribe-box .email-form .input:focus,
.footer .subscribe-box .email-form .input:hover {
    outline: none;
    border-color: #31D0AA;
}

.footer .subscribe-box .button {
    display: flex;
    padding: 8px 24px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    box-shadow: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0;
    background-color: #4D5AE5;
    color: #fff;
    border-radius: 4px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .subscribe-box .button:hover,
.footer .subscribe-box .button:focus {
    background-color: #31D0AA;
}

.footer .subscribe-box .input::placeholder {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer .subscribe-box .icon {
    fill: #fff;
}

.footer .subscribe-box .email-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
