.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.section-title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.team-list h3,
.team-list p {
  text-align: center;
}

.team-list > li {
  width: 264px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list h3 {
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.2;
}

.team-list p {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.team-list {
  display: flex;
  gap: 72px;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-content {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
}
.card-content .social-links {
  display: flex;
  gap: 24px;
}

.card-content .social-links a {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content .social-links a:hover,
.card-content .social-links a:focus {
  background-color: #404bbf;
}

.card-content .social-links a .icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
}
